body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    background-image: url(images/blue-clouds.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.page {
    height: 298px;
    width: 498px;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: cyan;
}

.picture {
    width: 88px;
    height: 88px;
    padding: 1px;
    border-radius: 50%;
    border: 2.5px solid cyan;
    background-image: url(/images/profile.png);
    background-size: cover;
    background-position: -5.5px;
    margin: 29px;
}

#name {
    margin-left: -22px;
    font-weight: bold;
}

#ayo-link {
    color: rgb(107 114 128);
    font-size: .875rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
    margin-left: -22px;
}

.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    font-size: 24px;
}

.description {
    margin-top: 56px;
    color: rgb(156 163 175);
    font-size: medium;
}

#context {
    margin: 50px -135px;
    margin-top: -5px;
    font-size: .875rem;
}

.gamer-tag {
    width: 72px;
    height: 25px;
    border: 1px solid cyan;
    border-radius: 15px;
    color: cyan;
    margin: 10px -145px;
    margin: -25px -135px;
}

#gamer {
    text-align: center;
    margin-top: 4px;
    font-size: .75rem;
}

#icon-gamer {
    height: 12px;
    width: 12px;
    margin-left: -2.5px;
}

.html-tag {
    width: 72px;
    height: 24px;
    border: 1px solid cyan;
    border-radius: 15px;
    color: cyan;
    margin: -27px 0 0 -50px;

}

#html {
    text-align: center;
    font-size: .75rem;
    margin-top: 4.5px;
}

#icon-html {
    height: 12px;
    width: 12px;
    margin-top: -2.4px;
}

.css-tag {
    width: 60px;
    height: 24px;
    border: 1px solid cyan;
    border-radius: 15px;
    color: cyan;
    margin: -27px 0 0 35px;
}

#css {
    font-size: .75rem;
    text-align: center;
    margin-top: 5px;
}

#icon-css {
    height: 12px;
    width: 12px;
}